<?xml version="1.0" encoding="utf-8"?>
<!-- Seed launcher. Right-click the desktop in the browser to get this menu.
     The live menu is managed by the Ansible role (templates/openbox-menu.j2);
     this copy only matters for a container whose /config is brand new. -->
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="root-menu" label="ARCADE">
  <item label="Game Launcher">
    <action name="Execute"><command>/usr/local/bin/retro-launcher</command></action>
  </item>
  <separator />
  <item label="ScummVM">
    <action name="Execute"><command>/usr/local/bin/launch-scummvm</command></action>
  </item>
  <separator />
  <item label="DOSBox-X">
    <action name="Execute"><command>/usr/local/bin/launch-dosbox</command></action>
  </item>
  <separator />
  <item label="Install / repair Windows apps">
    <action name="Execute"><command>xterm -title "Install / repair Windows apps" -geometry 100x30 -fa Monospace -fs 11 -e /usr/local/bin/retro-install</command></action>
  </item>
  <item label="Terminal">
    <action name="Execute"><command>/usr/bin/xterm</command></action>
  </item>
</menu>
</openbox_menu>
